.title GuEsts

.list-guests.col
  - @guests.each do |guest|
    .row.guest
      .name= guest.name
      .del=link_to "X", guest_path(guest), method: :delete, data: { turbo_method: :delete }

.col.sticky
  .white-bg.row
    %a{ href: points_guests_path }= "Scores"
  .blue-bg.row
    %a{ href: new_guest_path }= "new"


