.title GuEsts

.list-guests.col
  - @guests.each do |guest|
    .row.guest
      .name= guest.name
      .del=link_to "X", guest_path(guest), method: :delete, data: { turbo_method: :delete }

.blue-bg.row.button-bottom
  %a{ href: new_guest_path }= "new"

