.title points

.list-guests.col
  - @guests.each do |guest|
    .col.guest{ data: { controller: 'scoring', 'score-guest-id' => guest.id }, id: guest.name }
      .row.guest
        .name= guest.name
        .points{ data: {scoring: { target: 'points'}, points: guest.points} }= guest.points
      .row.point-add
        .button.add.dark-bg{data: {scoring: {target: 'add' }}} +
        .button.subtract.white-bg{data: {scoring: { target: 'subtract' }}} -
        .button.submit.dark-bg{data: {scoring: { target: 'submit' }, postto: add_points_guest_path(guest.id)}} submit

=link_to guests_path do
  .blue-bg.row.sticky
    back
