.coming-soon{data: {controller: 'coming', action: 'click->coming#destroy'}}
  .ball.white-bg{data: {coming: {target: 'ball'}}}
  .content
    .logo
    .slogan
      coming
      soon
    .description
      .line 3
      .line SEPTEMBER
      .line 2023

