
.logo{data: {controller: 'hello'}}

.menu
  = link_to ranking_path do
    .bar.purple-bg
      GAMe
  = link_to messages_path do
    .bar.orange-bg
      MessAGe
  = link_to sounds_path do
    .bar.green-bg
      Sound

.names

= render partial: 'coming_soon'
