.container:has(> .ranking)
  background: $purple

  display: block
  overflow-x: hidden

  .listings
    margin-bottom: 100px

.title
  font-size: 11rem
  color: $light
  margin-bottom: 1rem

.guest
  padding: 1rem
  margin-bottom: 0.5rem

  .points
    margin-left: auto

  .row.top
    border-bottom: 1px solid $dark
    margin-bottom: 0.5rem
  .row.bottom
    font-family: "Helvetica"
    font-size: 1.5rem
    font-weight: 100

.highlight
  color: $light

.overlay
  position: fixed
  top: 0
  left: 0
  height: 100vh
  width: 100vw
  opacity: 100%
  transition: opacity 0.2s cubic-bezier(0.215, 0.61, 0.355, 1)


  &.hidden
    opacity: 0

  .points
    font-size: 20rem
    z-index: 20
    position: absolute

  .col:has(> .name)
    padding: 3rem 0 2rem 0

  .name
    font-family: "Helvetica"
    font-size: 4rem
    font-weight: 100
    margin: 0 auto

  .star
    position: absolute
    width: 120vw
    left: -10vw
    bottom: -10vw
    transform-origin: center
    &.active
      animation: star 2s
  .face
    position: absolute
    width: 80vw
    left: 10vw
    bottom: 9rem
    transition-property: bottom
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1)
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06)
    transform-origin: center
    &.active
      animation: face 2s
  &.wtf-desc
    top: 0
    transition: top 0.5s cubic-bezier(0.215, 0.61, 0.355, 1)
    &.hidden
      top: 100vh
      height: 0
      .col
        padding: 0
    .col
      padding: 2rem
    .exit
      margin-left: auto
      color: $light
      border: 1px solid $light
      border-radius: 50%
      padding: 0.3rem 1.5rem
      margin-bottom: 0.5rem

.row.wtf
  &.hidden
    display: none

  height: 86px
  z-index: 20

  .back-button
    padding: 0.25rem
    .border-left-down
      border-left: 2px solid $dark
      border-bottom: 2px solid $dark
      padding: 0 1.7rem
    .inner
      width: 1.5rem

  .question
    color: $light
    font-size: 5rem
    padding: 0.3rem 1rem
    line-height: 1
    margin: 0 auto

@keyframes star
  from
    bottom: -10vw
  to
    bottom: 40vh
    transform: rotate(-80deg)

@keyframes face
  from
    bottom: 9rem
  40%
    bottom: 10rem
  50%
    bottom: 9.5rem
  90%
    bottom: 10rem
  to
    bottom: 9rem

