// COLORS
$blue: #648DFF
$green: #BCB649
$orange: #FF8849
$purple: #977E9A
$light: #E2DEDE

body
  font-family: "LoveWeb-Regular"
  font-size: 4rem
  background-color: $light
  padding: 0
  margin: 0

.purple-bg
  background: $purple

.green-bg
  background: $green

.orange-bg
  background: $orange

.bar
  padding: 0.8rem 0 0 0.8rem

.logo
  background: url('logo.svg') no-repeat
  height: 100px

a
  text-decoration: none
  color: black
  &:focus
    color: black
  &:active
    color: black

